<h1>IsWhen is Available on the App Store!</h1>


<section class="ios">
  <section class="ios-description">
    <%= link_to image_tag("badges/appstore.jpg", :alt => "Aavailable on the iPhone App Store"), IsWhen::Application.config.app_store_link %>

    <p>
      Never again forget upcoming holidays! IsWhen.info has told you, quickly
      and simply, on the web. Now IsWhen is available on the iPhone and iPod
      touch.
    </p>

    <p>
      Easily remember holidays that like to switch around on you, like Easter
      or Thanksgiving. We've even got you covered when the date doesn't change,
      since IsWhen also tells you which day of the week the holiday takes
      place.
    </p>

    <p>
      IsWhen knows all the holidays here on IsWhen.info.
    </p>

    <p>
      Have questions?
    </p>

    <p>
      <%= link_to "Drop us a line", "mailto:iphoneapp@iswhen.info" %>, and
      we'll see what we can do.
    </p>
  </section>

  <section class="ios-screenshot">
    <%= image_tag "screenshots/mainscreen.png", :alt => "Screenshot showing the list of holidays and events on the iPhone screen" %>
  </section>
</section>


