<div id="site-info">
  <p>
    Copyright © 2008–<%= Date.today.year %>
    <%= link_to "Patrick Byrne", "http://patrickbyrne.net/" %>
  </p>
  <p>
    <%= link_to "Get IsWhen on the App Store", "http://itunes.apple.com/us/app/iswhen/id313199425?mt=8" %>
  </p>
</div>
